<% if (title) { %>
  <h1><%= title %></h1>
<% } else {
  res.redirect('/')
} %>

<%- messages() %>

<% if (errors) { %>
  <ul class="notice">
 <% errors.array().forEach(error => { %>
   <li><%= error.msg %></li>
<%  }) %>
 </ul>
<% } %>

<h2>Welcome <%= accountData.account_firstname %></h2>

<p><a href="/account/update/<%= accountData.account_id %>">Update Account Information</a></p>

<!--Here is the adddition for module 6 assignment-->
<h2>Message Center</h3>
<ul>
  <li>You have <%= typeof unreadMessageCount !== 'undefined' ? unreadMessageCount : 0 %> unread messages</li>
  <li><a href="/inbox">Go to Inbox</a></li>
</ul>

<% if (accountData.account_type == 'Employee' || accountData.account_type == 'Admin') { %>
  <h2>Inventory Management</h3>
  <p><a href="/inv">Manage Inventory</a></p>
<% } %>