<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<body>
    <div class="site-wrapper">
        <div id="site-container">
            <%- include('../partials/header') %>
            <%- include('../partials/navigation') %>

            <div class="main-container content-container">
                <main class="content-grid">
                    <%- body %>
                </main>
            </div>

            <%- include('../partials/footer') %>
        </div>
    </div>
    <script src="/js/script.js"></script>
</body>
</html>