<% if (title) { %>
    <h1><%= title %></h1>
  <% } else {
    res.redirect('/')
  } %>
  <%- messages() %>

  <% if (errors) { %>
    <ul class="notice">
   <% errors.forEach(error => { %>
     <li><%= error.msg %></li>
  <%  }) %>
   </ul>
<% } %>
  
  <h1>Message</h1>
  <p>This is an internal system only. Recipients are limited to the three generic accounts.</p>
  
  <form class="site-form" action="/newmessage/<%= accountData.account_id %>" method="POST">
    <fieldset>
      <label for="to">To:</label>
      <select name="to" id="to">
        <% recipients.forEach(function(recipient) { %>
          <option value="<%= recipient.account_id %>"><%= recipient.account_firstname %></option>
        <% }); %>
      </select>
      <label for="subject">Subject:</label>
      <input type="text" id="subject" name="subject" maxlength="100" minlength="3" required>
      <label for="message_body">Message:</label>
      <textarea id="message_body" name="message_body" minlength="3" maxlength="750" required></textarea>
    </fieldset>
    <button type="submit">Send</button>
  </form>
  
  <p><a href="/inbox">Back to Inbox</a></p>